@import './variables';

main.--details .project {
    display: flex;
    flex-direction: column;

    &__descr {

        &__title {
            font-size: clamp(25px, 2.6vw, 2.2em);
            font-weight: 500;
        }

        &__text {
            font-size: clamp(14px, 1.3vw, 1.8em);
            font-weight: 400;
        }
    }


    &__body {
        display: flex;
        // align-items: center;

        .project__descr__text {
            padding-top: max(5px, 2vw);
        }
    }

    &__illustration.--details {
        position: relative;
        display: block;
        background-color: transparent;
        width: 30vw;
        height: 17vw;

        img {
            width: 85%;
            animation: float 3s alternate linear infinite;

            &:first-child {
                left: -10%;
            }

            &:nth-child(2) {
                left: 10%;
                top: 10%;
            }
        }
    }


    &:nth-of-type(even) {
        .project__illustration img {
            animation: invert-float 3s alternate linear infinite;

            &:first-child {
                left: 10%;
            }

            &:nth-child(2) {
                left: -10%;
                top: 10%;
            }
        }
    }

    &:hover {
        // background-color: rebeccapurple;

        img {}
    }
}

@keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);

    }
}

@keyframes invert {
    0% {
        transform: rotateX(-90deg) rotateY(0) rotateZ(0) skew(5deg);
    }

    100% {
        transform: rotateX(-90deg) rotateY(360deg) rotateZ(0) skew(5deg);
    }
}

@keyframes float {
    0% {
        transform: rotateY(10deg);
    }

    100% {
        transform: rotateY(25deg);
    }
}

@keyframes invert-float {
    0% {
        transform: rotateY(-10deg);
    }

    100% {
        transform: rotateY(-25deg);
    }
}