@import './variables';

@mixin detailsTitle {
    font-size: clamp(25px, 2.6vw, 2.2em);
    font-weight: 600;
}

@mixin detailsText {
    font-size: clamp(14px, 1.35vw, 1.8em);
    font-weight: 400;
    line-height: 1.5em;
}

@mixin sectionStructure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content min-content min-content min-content;

    @media (max-width:600px) {
        display: flex;
        flex-direction: column;
    }
}


main.--details {
    @include detailsText();
}

main.--details {
    .project {
        @include sectionStructure();


        &__title {
            @include detailsTitle();
        }

        &__subTitle {
            @include detailsText();
            grid-column: 1/span 2;
            grid-row: 2 / 3;
        }

        &__text {
            @include detailsText();
            padding-top: max(5px, 2vw);
            grid-row: 3/4;
        }


        &__illustration.--details {
            position: relative;
            display: block;
            background-color: transparent;
            width: max(200px, 30vw);
            height: max(120px, 17vw);
            margin-right: 0;
            grid-row: 3/4;
            justify-self: right;

            img {
                width: 85%;
                animation: illust-float 3s alternate linear infinite;

                &:first-child {
                    left: -10%;
                }

                &:nth-child(2) {
                    left: 10%;
                    top: 10%;
                }
            }
        }

        &__links {
            // grid-column: 1/2;
            // grid-row: 4/5;
            justify-self: right;
            align-self: center;
            margin-top: max(20px, 2.73vw);
            margin-right: 2%;
        }


        &:nth-of-type(even) {
            .project__illustration {
                order: 0;

                img {
                    animation: invert-illust-float 3s alternate linear infinite;

                    &:first-child {
                        left: 10%;
                    }

                    &:nth-child(2) {
                        left: -10%;
                        top: 10%;
                    }
                }

            }
        }

        &:hover {
            // background-color: rebeccapurple;

            img {}
        }
    }

    h3 {
        margin-top: max(20px, 2.73vw);
    }
}


.bookstore.--details {
    .features__illustration.project__illustration {

        img:not(:nth-child(1)) {
            width: auto;
            height: auto
        }

        img:nth-child(1) {
            left: 0;
        }

        img:nth-child(2) {
            left: 30%;
            top: 8%;
            height: 85%;
        }

        img:nth-child(3) {
            left: 50%;
            top: 18%;
            height: 75%;
        }
    }
}

.features {
    @include sectionStructure();

    &__descr {}

    &__title {
        @include detailsTitle();
        grid-column: 2/3;
    }

    &__list {
        @include detailsText();
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: left;
    }

    &__item {
        padding-bottom: .68em;
    }
}

.stack {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 30%;
        width: 80%;
        padding-left: 2%;
    }

    &__item {
        display: block;
        padding-bottom: 1.3em;
    }
}

.challenges {
    font-weight: 300;
}


@media (max-width: 600px) {

    .project__links,
    .project__illustration {
        align-self: center;
        margin-left: 0;
    }

    .stack {
        text-align: center;

        &__list {
            justify-content: center;
            margin: 5vw auto;
            padding: 0;
        }
    }
}

@keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);

    }
}

@keyframes invert {
    0% {
        transform: rotateX(-90deg) rotateY(0) rotateZ(0) skew(5deg);
    }

    100% {
        transform: rotateX(-90deg) rotateY(360deg) rotateZ(0) skew(5deg);
    }
}

@keyframes illust-float {
    0% {
        transform: rotateY(10deg);
    }

    100% {
        transform: rotateY(25deg);
    }
}

@keyframes invert-illust-float {
    0% {
        transform: rotateY(-10deg);
    }

    100% {
        transform: rotateY(-25deg);
    }
}