.project {
    @include projectSection;


    &:not(.--details)>&__title {
        display: none
    }

    &__title {
        @include largeTitle;
        // margin-bottom: max(20px, 2.73vw);
        margin-bottom: max(10px, 1.8vw);
    }

    &__links {
        position: relative;
        display: flex;
        gap: 1em;
        width: fit-content;
        z-index: 1;
        margin-bottom: max(20px, 3.2vw);
        height: fit-content;
        max-width: 100%;
        flex-wrap: wrap;
    }

    &__link {
        @include project_link;

    }

    &__descr {
        // font-size: clamp(14px, 1.43vw, 2em);
        font-size: clamp(14px, 1.25vw, 2em);
        font-weight: 400;
        line-height: 1.22em;
        // padding-left: 1%;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;

        &__icons {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            max-width: 100%;
            flex-wrap: wrap;
            margin-top: 5%;
            gap: max(10px, 1.30vw);
        }



        img {
            fill: red;
            min-width: 30px;
            min-height: 40px;
            margin-right: max(20px, 2.60vw);
            flex-grow: .2;
            max-height: 5.53vw;
        }
    }


    &:not(.--details):hover {
        .project__illustration {
            @include projectHoverAnimation;

            img:first-child {
                opacity: 0;
            }

            .project__gif {
                display: inline;
                animation: opacity1 .3s forwards;
            }

            // &::before {
            //     opacity: 0;
            //     transition: all .4s;
            // }
        }
    }

    &.invisible {
        display: none;
    }
}

@media (max-width: 600px) {
    section {
        text-align: center;
    }

    .project {
        align-items: center;
        flex-direction: column;

        &:not(.--details) &__title {
            display: none;
        }


        &:not(.--details)>&__title {
            display: block;
            text-align: center;
        }

        &__links {
            margin-left: auto;
            margin-right: auto;
        }

        &__illustration {
            margin: 0;
            margin-top: 3vw;
        }

        &:nth-of-type(even) &__illustration {
            margin-left: 0;
            order: 0;
        }


        &__details {
            text-align: center;
        }

        &__descr,
        &__details__descr {
            margin-top: 5%;
        }
    }
}


@keyframes opacity1 {
    100% {
        opacity: 1;
    }
}