.project {
    @include projectSection;


    &>&__title {
        display: none
    }

    &__title {
        @include largeTitle;
        margin-bottom: max(20px, 2.73vw);
    }

    &__descr {
        font-size: clamp(14px, 1.43vw, 2em);
        font-weight: 500;
        line-height: 1.22em;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;

        &__icons {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            max-width: 100%;
            flex-wrap: wrap;
            margin-top: 10%;
            gap: max(10px, 1.30vw);
        }



        img {
            fill: red;
            min-width: 30px;
            min-height: 30px;
            margin-right: max(20px, 2.60vw);
            flex-grow: .2;
            max-height: 5.53vw;
        }
    }


    &:not(.--details):hover {
        .project__illustration {
            @include projectHoverAnimation;

            // &::before {
            //     opacity: 0;
            //     transition: all .4s;
            // }
        }
    }
}

@media (max-width: 600px) {
    section {
        text-align: center;
    }

    .project {
        align-items: center;
        flex-direction: column;

        & &__title {
            display: none;
        }


        &>&__title {
            display: block;
            text-align: center;
        }

        &:nth-of-type(even) &__illustration {
            order: 0;
        }


        &__details {
            text-align: center;
        }
    }
}